
:root {
    --color-primary: #FFB38E;
    --color-secondary: #FFCF9D;
    --color-tertiary: #FFB26F;
    --color-quaternary: #DE8F5F;
    --color-success: #28a745; /* Verde porque me gusta  */
  }
  